#contactForm
    padding: 80px 10% 50px 10%

    form

        input
            box-sizing: border-box
            width: 100%

        textarea
            resize: none
            box-sizing: border-box
            width: 100%

        button
