.completeMessage
    height: 80vh

    h1
        font-family: $font
        font-weight: $bold

    button
        button
            box-sizing: border-box
            padding: 10px 20px
            background: $blue
            color: white
            border: none
            font-family: $font
            font-weight: $bold
            cursor: pointer

            &:hover
                color: white
                background: black
