#hero
    height: 60vh
    padding-top: 50px
    background: linear-gradient(50deg, rgba(38, 38, 38, 0.8), rgba(38, 38, 38, 0.3)), url(/img/heroBackground.jpg)
    background-size: cover

    h1
        margin: 0

        span
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            // background: pink
            content: ""
            height: 60vh

            p
                text-align: center
                margin: 0
                color: white
                margin: 30px 0

            button
                box-sizing: border-box
                padding: 10px 20px
                background: #56c1ff
                color: white
                border: none
                // margin-top: 30px


@media (orientation: landscape)
    #hero

@media (min-width: 768px)
    #hero

@media (min-width: 768px) and (orientation: landscape)
    #hero

@media (min-width: 1025px)
    #hero
