#portfolioHero
    height: 30vh
    padding-top: 60px
    display: flex
    justify-content: center
    align-items: center
    background: linear-gradient(50deg, rgba(38, 38, 38, 0.8), rgba(38, 38, 38, 0.3)), url(/img/heroBackground.jpg)
    background-size: cover

    h1
        margin: 0
        color: white
        text-align: center
        font-family: $font
        font-weight: $bold

#portfolioAbout
    margin-top: 50px

    p
        text-align: center
        max-width: 300px
        position: relative
        left: 50%
        transform: translate(-50%)
        line-height: 25px
        font-family: $font
        font-weight: $light

#portfolioImg

    .portfolioWrap
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column

        span
            width: 300px
            height: 300px
            background: pink
            display: block
            box-sizing: border-box
            margin: 15px
