#services
    padding: 50px 0

    h2
        text-align: center
        font-family: $font
        font-weight: $bold

    .rowWrap

        .row
            margin-top: 20px
            display: flex
            flex-direction: column
            align-items: center

            img
                display: block
                border-radius: 50%
                width: 200px
                height: 200px
                cursor: pointer
                object-fit: cover

            h3
                text-align: center
                cursor: pointer
                font-family: $font
                font-weight: $bold

            p
                cursor: p
                max-width: 300px
                text-align: center
                margin: 0
                line-height: 25px
                font-family: $font
                font-weight: $light

        .row:hover

            img
                filter: opacity(0.8)
                z-index: -1

            h3,
            p
                text-decoration: underline
                z-index: -1

// @media (orientation: landscape)
//
// @media (min-width: 768px)
//
// @media (min-width: 768px) and (orientation: landscape)

@media (min-width: 768px)
    #services

        h2

        p

        .rowWrap
            display: flex
            justify-content: center

            .row

                span

                h3

                p
