html {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: black; }

#header {
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 2; }
  #header .mobileNav {
    height: 50px;
    border-bottom: 1px solid black; }
    #header .mobileNav .mobileLogo {
      position: absolute; }
      #header .mobileNav .mobileLogo img {
        padding: 10px 20px;
        height: 30px; }
    #header .mobileNav #burger {
      height: 50px;
      width: 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-right: 20px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      position: fixed;
      right: 0; }
      #header .mobileNav #burger span,
      #header .mobileNav #burger span:before,
      #header .mobileNav #burger span:after {
        content: "";
        position: relative;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        width: 30px;
        height: 3px;
        background: black;
        display: block; }
      #header .mobileNav #burger span:before {
        top: 10px; }
      #header .mobileNav #burger span:after {
        top: -13px; }
      #header .mobileNav #burger.isOpen span {
        background: transparent; }
      #header .mobileNav #burger.isOpen span:before,
      #header .mobileNav #burger.isOpen span:after {
        -webkit-transform-origin: center;
                transform-origin: center;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
        top: 0; }
      #header .mobileNav #burger.isOpen span:after {
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
        top: -3px; }
    #header .mobileNav #mobileSlider {
      background: white;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      -webkit-transform: translateY(-200%);
              transform: translateY(-200%);
      padding-top: 60px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      z-index: -1;
      position: absolute;
      width: 100%;
      border-bottom: 1px solid black; }
      #header .mobileNav #mobileSlider ul {
        padding: 0;
        margin: 0;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        width: 100%;
        text-align: center; }
        #header .mobileNav #mobileSlider ul li {
          list-style: none; }
          #header .mobileNav #mobileSlider ul li a {
            display: block;
            cursor: pointer;
            padding: 10px;
            text-decoration: none;
            color: black;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
            font-family: "Montserrat", sans-serif;
            font-weight: 600; }
      #header .mobileNav #mobileSlider.isOpen {
        -webkit-transform: rotateY(0);
                transform: rotateY(0); }
  #header .tabletNav {
    display: none; }
  #header .desktopNav {
    display: none; }

@media (orientation: landscape) {
  .mobileNav {
    display: none; } }

@media (min-width: 768px) {
  #header .mobileNav {
    display: none; }
  #header .desktopNav {
    display: block;
    height: 50px;
    padding: 10px;
    border-bottom: 1px solid black; }
    #header .desktopNav .desktopLogo {
      position: absolute;
      cursor: pointer;
      left: 20px; }
      #header .desktopNav .desktopLogo img {
        height: 50px; }
    #header .desktopNav ul {
      list-style: none;
      position: absolute;
      right: 20px; }
      #header .desktopNav ul li {
        display: inline-block; }
        #header .desktopNav ul li a {
          text-decoration: none;
          color: black;
          -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
          font-family: "Montserrat", sans-serif;
          font-weight: 600;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          margin-left: 20px; }
          #header .desktopNav ul li a:hover {
            color: #56c1ff; }
        #header .desktopNav ul li .highlight {
          background: inherit;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          padding: 10px 20px;
          border: 2px solid black;
          border-radius: 50px;
          -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease; }
          #header .desktopNav ul li .highlight:hover {
            border-color: #56c1ff;
            background: #56c1ff;
            color: white; } }

#hero {
  height: 70vh;
  padding-top: 50px;
  background: linear-gradient(50deg, rgba(38, 38, 38, 0.8), rgba(38, 38, 38, 0.3)), url(/img/heroBackground.jpg);
  background-size: cover;
  background-position: center; }
  #hero h1 {
    margin: 0;
    padding: 0 5px; }
    #hero h1 span {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      content: "";
      height: 60vh; }
      #hero h1 span p {
        text-align: center;
        margin: 0;
        color: white;
        margin: 30px 0;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        max-width: 500px; }
      #hero h1 span button {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        padding: 10px 20px;
        background: #56c1ff;
        color: white;
        border: none;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        cursor: pointer; }
        #hero h1 span button:hover {
          color: black;
          background: white; }

@media (min-width: 768px) {
  #hero h1 span p {
    font-size: 35px; }
  #hero h1 span a button {
    font-size: 15px; } }

#services {
  padding: 50px 0; }
  #services h2 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 600; }
  #services .rowWrap .row {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    #services .rowWrap .row img {
      display: block;
      border-radius: 50%;
      width: 200px;
      height: 200px;
      cursor: pointer;
      -o-object-fit: cover;
         object-fit: cover; }
    #services .rowWrap .row h3 {
      text-align: center;
      cursor: pointer;
      font-family: "Montserrat", sans-serif;
      font-weight: 600; }
    #services .rowWrap .row p {
      cursor: p;
      max-width: 300px;
      text-align: center;
      margin: 0;
      line-height: 25px;
      font-family: "Montserrat", sans-serif;
      font-weight: 200; }
  #services .rowWrap .row:hover img {
    -webkit-filter: opacity(0.8);
            filter: opacity(0.8);
    z-index: -1; }
  #services .rowWrap .row:hover h3,
  #services .rowWrap .row:hover p {
    text-decoration: underline;
    z-index: -1; }

@media (min-width: 768px) {
  #services .rowWrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
  background: #e5e5e5; }
  #contact h2 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 600; }
  #contact p {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 200; }
  #contact button {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px 20px;
    background: #56c1ff;
    color: white;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    cursor: pointer; }
    #contact button:hover {
      color: white;
      background: black; }

#footer {
  padding: 50px 0;
  background: #262626; }
  #footer .webMap ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 20px; }
    #footer .webMap ul li a {
      text-decoration: none;
      color: black;
      cursor: pointer;
      padding: 2.5px 0;
      display: block;
      color: white;
      font-family: "Montserrat", sans-serif;
      font-weight: 600; }
      #footer .webMap ul li a:hover {
        color: #56c1ff; }
    #footer .webMap ul li .subPage {
      padding-left: 20px; }
  #footer .socialLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px; }
    #footer .socialLinks i {
      padding: 10px 40px;
      font-size: 30px;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      color: white; }
    #footer .socialLinks .fa-facebook:hover {
      color: #3b5998; }
    #footer .socialLinks .fa-twitter:hover {
      color: #55acee; }
    #footer .socialLinks .fa-instagram:hover {
      color: #df3967; }
    #footer .socialLinks .fa-snapchat-ghost:hover {
      color: #fffc00; }
    #footer .socialLinks .fa-linkedin:hover {
      color: #007bb5; }
    #footer .socialLinks .fa-youtube-play:hover {
      color: #bb0000; }

@media (min-width: 768px) {
  #footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    #footer .socialLinks {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      width: 300px; }
      #footer .socialLinks i {
        padding: 0px 20px; } }

#portfolioHero {
  height: 40vh;
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(50deg, rgba(38, 38, 38, 0.8), rgba(38, 38, 38, 0.3)), url(/img/ecom.jpg);
  background-size: cover;
  background-position: center; }
  #portfolioHero h1 {
    margin: 0;
    color: white;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 600; }

#portfolioHero.websitesHero {
  background: linear-gradient(50deg, rgba(38, 38, 38, 0.8), rgba(38, 38, 38, 0.3)), url(/img/atreo.jpg);
  background-size: cover;
  background-position: center; }

#portfolioHero.seoHero {
  background: linear-gradient(50deg, rgba(38, 38, 38, 0.8), rgba(38, 38, 38, 0.3)), url(/img/seo.jpg);
  background-size: cover;
  background-position: center; }

#portfolioAbout {
  margin-top: 50px; }
  #portfolioAbout p {
    text-align: center;
    padding: 0px 10% 0px 10%;
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    line-height: 25px;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    max-width: 920px; }
  #portfolioAbout h2 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 600; }

#portfolioImg .portfolioWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  #portfolioImg .portfolioWrap span {
    width: 300px;
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 10px; }
    #portfolioImg .portfolioWrap span button {
      display: none;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 10px 20px;
      background: white;
      color: #56c1ff;
      border: none;
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      cursor: pointer; }
    #portfolioImg .portfolioWrap span:hover {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
      #portfolioImg .portfolioWrap span:hover button {
        display: block; }
  #portfolioImg .portfolioWrap .atreo {
    background: url(/img/atreo.jpg);
    background-size: cover;
    background-position: right; }
    #portfolioImg .portfolioWrap .atreo:hover {
      background: linear-gradient(50deg, rgba(38, 38, 38, 0.8), rgba(38, 38, 38, 0.3)), url(/img/atreo.jpg);
      background-size: cover;
      background-position: right; }
  #portfolioImg .portfolioWrap .verona {
    background: url(/img/verona.png);
    background-size: cover;
    background-position: right; }
    #portfolioImg .portfolioWrap .verona:hover {
      background: linear-gradient(50deg, rgba(38, 38, 38, 0.8), rgba(38, 38, 38, 0.3)), url(/img/verona.png);
      background-size: cover;
      background-position: right; }

@media (min-width: 768px) {
  #portfolioImg .portfolioWrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 20px 10% 50px 10%; } }

@media (min-width: 1500px) {
  #portfolioImg .portfolioWrap {
    padding: 20px 20% 50px 20%; } }

@media (min-width: 768px) {
  #portfolioHero h1 {
    font-size: 35px; } }

@media (min-width: 1025px) {
  #portfolioHero h1 {
    font-size: 40px; } }

#contactForm {
  padding: 20px 10% 50px 10%; }
  #contactForm p {
    margin-bottom: 30px;
    line-height: 25px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 200; }
  #contactForm form input {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    line-height: 16px;
    margin-bottom: 20px;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600; }
  #contactForm form textarea {
    resize: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    line-height: 16px;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600; }
  #contactForm form button {
    position: relative;
    float: right;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px 20px;
    margin-top: 15px; }

@media (min-width: 1200px) {
  #contactForm {
    padding: 20px 20% 50px 20%; } }
